{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}

{% block content %}
    Your payoff is {{ player.result }}
    {% if self.player.NFresult1 == 2 %}
    You got a better result than one of the other players
    {% endif %}
    {% if self.player.NFresult1 == 1 %}
    You got the same result than one of the other players
    {% endif %}
     {% if self.player.NFresult1 == 0 %}
    You got a worse result than one of the other players
    {% endif %}

    Your ID is {{ player_ID }}
    {% next_button %}
{% endblock %}


